<div class="container content">
  <div class="row">
<div class="social-media" >
  <div  class="social-media-icon">
      <a [href]="facebook.link  " target="_blank" rel="noopener" title="view {{ facebook.user }} on facebook"><img src="/assets/svg/facebookicon.svg" alt="facebook icon"></a>
    </div>
</div>
    <div  class="social-media-icon">
      <a [href]="linkedIn.link"  target="_blank" rel="noopener" title="view {{ linkedIn.user }} on l"><img src="/assets/svg/linkedinicon.svg" alt="linkedIn icon"></a>
    </div>

</div>
</div>

























  <!-- <div *ngIf="twitter" class="social-media-icon">
      <a [href]="twitterLink + twitter.link" target="_blank" rel="noopener" title="view {{ twitter.user }} on twitter"><img src="/assets/images/svgs/twitter.svg" alt="twitter icon"></a>
  </div> -->
  <!-- <div *ngIf="linkedIn" class="social-media-icon">
      <a *ngIf="linkedIn.company"  [href]="linkedInLinkCompany + linkedIn.link" target="_blank" rel="noopener" title="view {{ linkedIn.user }} on twitter"><img src="/assets/svg/inkedinicon.svg" alt="linkedIn icon"></a>
      <ng-template #altLinkedIn>
          <a [href]="linkedInLink + linkedIn.link" target="_blank" rel="noopener" title="view {{ linkedIn.user }} on twitter"><img src="/assets/images/svgs/linkedin.svg" alt="linkedIn icon"></a>
      </ng-template>
  </div> -->
  <!-- <div *ngIf="medium" class="social-media-icon">
      <a [href]="mediumLink + medium.link" target="_blank" rel="noopener" title="view {{ medium.user }} on medium"><img src="/assets/images/svgs/medium.svg" alt="medium icon"></a>
  </div> -->

