<div class = "abComponent">

<section class="info">
<!--
  <img src="https://image.ibb.co/j4Qz8x/pic1.jpg" alt=""> -->
  <img src="../../../assets/aboutKarate.jpg" alt="">
  <div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h2>Few words about my hobby</h2>
    <hr>

    <p class="ptekst">I am sports fanatic guy. Even my achievments are far behind profesional sportsman I like sport very much
      </p>
     <br>
     <br>
     <br>
     <br>
      <img src="../../../assets/aboutTlo.jpg" alt="">
  </div>
</section>
<div class ="desc">
  <h2>More about my hobby</h2>
  <h4>Tenis</h4>
  <p class="hobbyTekst">Together with my frends we are creating small team played double tennis . We have own yearly stratistc for champion selection .</p>
  <p class="hobbyTekst"> Twice a year we have tournamets in Pobierowo . Combination tenis and drink in local pubs. At the end of year we are celebrating </p>
  <p class="hobbyTekst"> Chempion of the Year .  Winner has privilage sponsor botle of wodka  </p>
    <h4>Karate</h4>
    <p class="hobbyTekst">Martial arts always facinatied me when I was Young . The old passion become true during university time .   </p>
    <p class="hobbyTekst">I have joined to Karate team in Szczecin . I was graduated senior black belt and become official coach . The bigest achievments </p>
    <p class="hobbyTekst">Team Country Champioship . After university I had continue journey with bigest Karate Club in my town . </p>

    <h4>Jogging</h4>
    <p class="hobbyTekst">This is my longest activity. I pratice this since many years . I like this sport very much . To be alone with Your thoughts  </p>
    <p class="hobbyTekst">This is what I need during this time . I have participated in most famouse marathons , the most chalaged and popular </p>
    <p class="hobbyTekst">Like: Berlin , Amsterdam . Koln , Warsaw , Viena , Bejin ( Great Wall) and many others</p>
  </div>
<app-footer></app-footer>
</div>

