

<section class="info">

  <img src="https://image.ibb.co/j4Qz8x/pic1.jpg" alt="">
  <div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h2>Your Business On The Web</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae alias reiciendis deleniti possimus nemo non repellendus?
      Quae atque vero modi quidem! Autem cupiditate fugit doloribus ad amet, asperiores provident commodi.</p>
    <!-- <a href="#" class="btn" (click)="closeModal()">Close</a> -->
  </div>
</section>
<div class ="desc">
  <h2>-- More -- </h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae alias reiciendis deleniti possimus nemo non repellendus?
    Quae atque vero modi quidem! Autem cupiditate fugit doloribus ad amet, asperiores provident commodi.</p>

</div>



