
:root {
  --primary1: #ddd;
  --dark: rgb(51, 51, 51);
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

img {
  max-width: 100%;
}

/* Info */
.info {

  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;

}


::ng-deep .my-class .modal-dialog {
  max-width: 95%;
  width: 95%;
  max-height: 90%;
  height: 90%;
}


/* Desc */
.desc {
  background: var(--primary1);
  box-shadow: var(--shadow);
  display: grid;
 // grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}

.desc {
  grid-template-columns: 1fr;
}



.desc .ptekst {
  font-family: "Alike Angular";
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

.hobbyTekst {
  font-family: "Alike Angular";
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 24px;
}

.abComponent {
  height:auto;
  padding-right:0px !important;

background-image: url("../../../assets/aboutTlo1.jpg");
}
