<div class="myComponent">

  <section class="info">


    <div class="headerContact">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="NaglowekHeader">Contact </p>
      <p class="OpisHeader">Feel free contact with me </p>
<hr>
    </div>


    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <ngx-progressive-img-loader [height]="'227px'" [width]="'100%'" (imageLoaded)="onImgLoad($event)"
              (thumbnailLoaded)="onThumbLoad($event)" [overlayTint]="'rgba(0,0,0,0)'" [preserveAspectRatio]="true"
              [placeholderBgColor]="'grey'" [img]="contacthighes" [thumbnail]="contactlow"
              [fallbackImg]="'https://vignette.wikia.nocookie.net/project-pokemon/images/4/47/Placeholder.png/revision/latest?cb=20170330235552'">

            </ngx-progressive-img-loader>


          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <p class="tekst">By mail : jarekg@test.com.pl </p>
            <p class="tekst">Contact on Skype : jaroslaw.granat </p>
            <p class="tekst">Contact on Facebook : jaroslaw.granat


          </p>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <ngx-progressive-img-loader [height]="'227px'" [width]="'100%'" (imageLoaded)="onImgLoad($event)"
              (thumbnailLoaded)="onThumbLoad($event)" [overlayTint]="'rgba(0,0,0,0)'" [preserveAspectRatio]="true"
              [placeholderBgColor]="'grey'" [img]="pobierowohighes" [thumbnail]="pobierowolow"
              [fallbackImg]="'https://vignette.wikia.nocookie.net/project-pokemon/images/4/47/Placeholder.png/revision/latest?cb=20170330235552'">

            </ngx-progressive-img-loader>

          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <p class="tekst">Pobierowo Small city on Bactic Sea side . Ussully I spend weekends .I recomend walk on forest between </p>
            <p class="tekst">Pobierowo - Lukecin . Pobierowo have beatifull sunny nice beach with hot sand and clan wather.  </p>
            <p class="tekst">During summer streets are croudy and noicy very good for young people comming for summer party time. </p>
            <p class="tekst">At autumn and Winter Pobierow become empty and silence place . People come this time enjoy nature, silence  </p>
            <p class="tekst">and stormy weather. In winter time You can enjoy hot wine glass serving in local small restaurants </p>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">

            <ngx-progressive-img-loader [height]="'227px'" [width]="'100%'" (imageLoaded)="onImgLoad($event)"
              (thumbnailLoaded)="onThumbLoad($event)" [overlayTint]="'rgba(0,0,0,0)'" [preserveAspectRatio]="true"
              [placeholderBgColor]="'grey'" [img]="gorzowhighes" [thumbnail]="gorzowlow"
              [fallbackImg]="'https://vignette.wikia.nocookie.net/project-pokemon/images/4/47/Placeholder.png/revision/latest?cb=20170330235552'">

            </ngx-progressive-img-loader>

          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <p class="tekst">Gorzow This is my home town . Nice city located close Warta river . There are on Warta
              bulwars many pubs.</p>
            <p class="tekst">You can finde nice histrorical places like Catedral in centre. Small restaurants with localfood and friendly people </p>
            <p class="tekst">A lot of green places small parks , located on small hils. You can meet many people jogging </p>
            <p class="tekst">Very nice Jazz Club - Pod Filarami . Famouse philharmonic build in 2010 .Local theatre with very active local  </p>
            <p class="tekst">actors group. Woth to mention about proud of Gorzow citizens "Stal" speedway club.  At the weekend You can   </p>
            <p class="tekst">enjoy nice performace speeday race. Gorzow team many year are located on top three national devision.</p>
            <p class="tekst">Polish speedway devision is highest level on the World </p>

          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <a href="https://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://www.example.com&p[images][0]=&p[title]=Title%20Goes%20Here&p[summary]=Description%20goes%20here!" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false"><button style="width:100%; margin-top:10px;" type="button" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-2"></i> Share on Facebook</button></a>
  </section>
</div>
