
<div class="wrapper">
  <!-- Navigation -->
  <nav class="main-nav">
    <ul>
      <li>
        <a href="#"   >Home</a>
      </li>
      <li>
        <a href="#" class="btn btn-primary" (click)="buttonAbout()">Hobby</a>
      </li>
      <li>
        <a href="#" class="btn btn-primary" (click)="buttonServices()">Job</a>
      </li>
      <li>
        <a href="#" class="btn btn-primary" (click)="buttonContact()">Contact</a>
      </li>
    </ul>
  </nav>



  <!-- Top Container -->
  <section class="top-container">
    <!-- <header class="showcase"> -->

      <ngx-progressive-img-loader [height]="'100%'" [width]="'100%'" (imageLoaded)="onImgLoad($event)"
      (thumbnailLoaded)="onThumbLoad($event)" [overlayTint]="'rgba(0,0,0,0)'" [preserveAspectRatio]="true"
      [placeholderBgColor]="'grey'" [img]="belinjahighes" [thumbnail]="berlinjalow"
      [fallbackImg]="'https://vignette.wikia.nocookie.net/project-pokemon/images/4/47/Placeholder.png/revision/latest?cb=20170330235552'">

    </ngx-progressive-img-loader>
<!--
    </header> -->

  </section>

  <!-- Boxes Section -->
  <section class="boxes">
    <div class="box">
      <i class="fas fa-chart-pie fa-4x"></i>
      <h3>Angular/Blazor/C#</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
    </div>
    <div class="box">
      <i class="fas fa-globe fa-4x"></i>
      <h3>MSSQL/Elastic/Oracle</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
    </div>
    <div class="box">
      <i class="fas fa-cog fa-4x"></i>
      <h3>ERP projects</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
    </div>
    <div class="box">
      <i class="fas fa-users fa-4x"></i>
      <h3>Others</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
    </div>
  </section>

  <!-- Info Section -->
  <section class="info">
    <img src="https://image.ibb.co/j4Qz8x/pic1.jpg" alt="">
    <div>
      <h2>Let's talk about bussines </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae alias reiciendis deleniti possimus nemo non repellendus?
        Quae atque vero modi quidem! Autem cupiditate fugit doloribus ad amet, asperiores provident commodi.</p>
      <a href="#" class="btn">Learn More</a>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="portfolio">
    <img src="https://source.unsplash.com/random/200x200" alt="">
    <img src="https://source.unsplash.com/random/201x200" alt="">
    <img src="https://source.unsplash.com/random/202x200" alt="">
    <img src="https://source.unsplash.com/random/203x200" alt="">
    <img src="https://source.unsplash.com/random/204x200" alt="">
    <img src="https://source.unsplash.com/random/205x200" alt="">
    <img src="https://source.unsplash.com/random/206x200" alt="">
    <img src="https://source.unsplash.com/random/207x200" alt="">
    <img src="https://source.unsplash.com/random/208x200" alt="">
  </section>

  <!-- Footer -->


</div>
<!-- Wrapper Ends -->
<app-footer></app-footer>
